body{

margin:0;
font-family:Arial;
background:#ffffff;
text-align:center;

}

.logo{

font-size:28px;
font-weight:bold;
color:#1f5e3a;
padding:20px;

}

.hero{

padding:20px;

}

.hero-img{

width:260px;
margin-top:20px;

}

h1{

font-size:28px;
color:#333;
margin-top:30px;

}

p{

color:#777;
font-size:16px;
padding:0 30px;

}

.primary-btn{

width:90%;
max-width:350px;

background:#58cc02;
color:white;

border:none;

padding:16px;

border-radius:16px;

font-size:18px;

margin-top:30px;

box-shadow:0 5px #3fa000;

}

.primary-btn:active{

transform:translateY(3px);
box-shadow:0 2px #3fa000;

}

.secondary-btn{

width:90%;
max-width:350px;

background:white;
color:#1cb0f6;

border:2px solid #e5e5e5;

padding:16px;

border-radius:16px;

font-size:16px;

margin-top:15px;

}
